/*TODO:
    - Mirar si hay IDs que no se utilizar (sobretodo en los sections)
    - Poner los logos en una sola linea
*/

@font-face {
    font-family: 'HelveticaCE';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/helvetica-ce.woff') format('woff');
}

body {
    font-family: Lato, Arial, "Times New Roman";
    font-size: 14px;
    color: #a1b1bc;
}

section {
    padding: 100px 0;
}

h1 {
    font-family: HelveticaCE, Arial, "Times New Roman";
    font-size: 29px;
    color: #1a1c27;
    font-weight: bold;
}

h2 {
    color: #23241a;
    font-size: 36px;
    font-weight: 300;
    border: 1px solid #000;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
}

hr {
    border: none;
    background-color: #a1b1bc;
    height: 1px;
    margin: 15px 0;
}

a {
    text-decoration: none;
}

input {
    width: 363px;
    height: 49px;
    background-color: #151838;
    border: 1px solid #2a2b4b;
    color: #fff;
    padding: 0 10px;
}

select {
    font-weight: bold;
    color: #a1b1bc;
    background-color: transparent;
    border: 0;
}

select:focus {
    border: 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.span-blue {
    color: #1abc9c;
}

.span-bold {
    font-weight: bold;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

.menu-link {
    font-size: 13px;
    color: #222533;
    font-weight: bold;
    margin: auto 20px;
}

.h2-dark-background {
    color: #fff;
    border: 0;
}

.btn {
    color: #000;
    font-weight: 700;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #000;
    padding: 23px 43px;
}

.btn:visited {
    color: #000;
}

.btn-dark {
    color: #fff;
    background-color: #1a1c27;
    border-color: #1a1c27;
}

.btn-dark:visited {
    color: #fff;
}

.btn-pink {
    background-color: #fd727d;
    border-color: #fd727d;
    color: #fff;
    padding: 0;
}

.flex-wrapper {
    display: flex;
    justify-content: space-around;
}

.flex-columns {
    flex-direction: column;
    align-items: center;
}

.flex-align-center-h {
    align-content: center;
}

.flex-align-center-v {
    align-items: center;
}

.flex-space-between { 
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.icon {
    height: 90px;
    width: 90px;
    background-clip: content-box;
    background-color: #1a1c27;
    border: 2px solid #1a1c27;
    padding: 4px;
    align-items: center;
}

.icon:hover {
    background-color: #1abc9c;
    background-clip: border-box;
    border: 0;
    padding: 6px;
}

.icon-title {
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 0;
    margin-top: 25px;
}

.icon-description {
    width: 267px;
    text-align: center;
    margin: 5px;
    line-height: 19px;
}

.logo {
    background-color: #ecf0f1;
    width: 272px;
    height: 162px;
    align-items: center;
}

.logo:hover {
    background-color: transparent;
    border: 1px solid #000;
    width: 270px;
    height: 160px;
}

.circle {
    padding: 8px;
    margin: 0 3px;
    color: #a1b1bc;
    border-radius: 50%;
    background-color: #fff;
}

.circle:visited {
    color: #a1b1bc;
}

.circle-active {
    color: #fff;
    background-color: #fd727d;
}

.circle-active:visited {
    color: #fff;
}

.footer-text-style {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 30px;
}

.footer-col {
    width: 272px;
    height: 276px;
}

.col-sm {
    height: 127px;
}

.rrss {
    width: 34px;
    height: 33px;
    background-color: #14161e;
    align-items: center;
}

.rrss:hover {
    width: 32px;
    height: 31px;
    border: 1px solid white;
}

.facebook:hover img {
   content: url(../images/facebook2.png);
}

.linkedin:hover img {
    content: url(../images/linkedin2.png);
}

.v:hover img {
    content: url(../images/v2.png);
}

.world:hover img {
    content: url(../images/world2.png)
}

.twitter:hover img {
    content: url(../images/twitter2.png);
}

.wifi:hover img {
    content: url(../images/wifi2.png)
}

#second-menu {
    padding: 24px 0;
    background-color: #1a1c27;
}

#second-menu p {
    margin: 0;
    font-weight: bold;
}

#second-menu a {
    font-weight: bold;
    color: #a1b1bc;
}

#second-menu img {
    margin: 0 10px;
}

.pink-span {
    color: #fd727d;
}

.horizontal-divider {
    border-left: 1px solid #304253; 
    height: 14px;
    margin: 0 10px;
}

nav input {
    background-color: #222533;
    border-color: #363947;
    background-image: url(../images/search-icon.png);
    background-position: 95%;
    background-repeat: no-repeat;
    margin-right: 20px;
}

#fashion {
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    padding: 0;
    padding-top: 20px;
    height: 1080px;
}

#fashion p {
    font-size: 19px;
    font-weight: bold;
}

#fashion-text-container {
    text-align: center;
    width: 572px;
}

#get-fox {
    padding: 45px 0;
    background-color: #fd727d; 
}

#get-fox p {
    color: #fff;
    font-size: 24px;
}

#photo-book {
    background-color: cadetblue; /*TODO: quitar*/
}

#fox-brands h2 {
    margin-bottom: 69px;
}

#new-features {
    height: 500px;
    background: url(../images/new-features.png);
    background-size: cover;
}

#new-features span {
    font-weight: 900;
}

#new-features-content {
    width: 45%;
    position: absolute;
    right: 0;
    align-items: flex-start;
}

#new-features h2 {
    padding: 0;
    margin-bottom: 10px;
}

#new-features p {
    width: 554px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}

#special-discount {
    background: url(../images/discount-background.png);
    background-size: cover;
}

#special-discount p { /*TODO: este elemento comparte estilos con (#new-features p)*/
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

#looks-book {
    background-color: #eff3f2;
}

#looks-book h2 {
    margin-bottom: 69px;
}

#looks-book img {
    border: 4px solid #fff;
}

#looks-book-pagination {
    margin-top: 50px;
}

#say-thefox {
    background-color: chocolate; /*TODO: quitar*/
}

#pre-footer {
    background-color: #222533;
}

#pre-footer h2 {
    color: #fff;
    font-size: 19px;
    font-weight: 900;
    border: 0;
    margin: 0;
    padding: 0;
}

#pre-footer a {
    color: #a1b1bc;
}

#pre-footer a:visited {
    color: #a1b1bc;
}

#pre-footer a:hover {
    color: #fff;
}

#pre-footer a span {
    display: none;
}

#pre-footer a:hover span {
    display: inline-block;
}

footer {
    padding: 35px 0;
    background-color: #171d22;
}